*.iml

/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/.externalNativeBuild/*
app/app.iml
.idea/*
build/*
.gradle/*
.gradle
.idea
app/.externalNativeBuild
.idea/workspace.xml
.idea/workspace.xml
